<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ffc1a51d-9208-41c0-93b9-3fd9cf63bbee/resourcegroups/Michael/providers/Microsoft.Web/sites/EtiqaAssessmentAPI20231119195805</ResourceId>
    <ResourceGroup>Michael</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://etiqaassessmentapi20231119195805.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>245f46af-e979-491e-b70c-e3c6f8c01c28</ProjectGuid>
    <MSDeployServiceURL>etiqaassessmentapi20231119195805.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EtiqaAssessmentAPI20231119195805</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$EtiqaAssessmentAPI20231119195805</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <ApiResourceId>/subscriptions/ffc1a51d-9208-41c0-93b9-3fd9cf63bbee/resourceGroups/Michael/providers/Microsoft.ApiManagement/service/EtiqaAssessmentAPIapi/apis/EtiqaAssessmentAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
  </PropertyGroup>
</Project>